@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.footer {
  @include flex-center;
  background: $gray-900;
  color: white;
  padding: $space-2xl;
  width: 100%;

  text-align: center;
  border-top: 1px solid $gray-800;

  @include respond-max($bp-md) {
    padding: $space-lg;
  }

  @include respond-max($bp-sm) {
    padding: $space-md;
  }

  h3 {
    @include heading($fs-xl, 600, white);
    margin-bottom: $space-md;

    @include respond-max($bp-sm) {
      font-size: $fs-lg;
    }
  }

  p {
    color: $gray-300;
    font-size: $fs-small;
  }

  a {
    color: $primary-400;

    &:hover {
      color: $primary-100;
    }
  }
}
