@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.header {
  @include flex-between;
  background: $bg-light;
  padding: $space-xl $space-lg;
  border-radius: $radius-lg;

  box-shadow: $shadow-md;

  @include respond-max($bp-md) {
    padding: $space-md;
    align-items: center;
    gap: $space-sm;
  }

  h1 {
    font-family: $font-primary;
    @include heading($fs-3xl, 700, $primary-500);

    @include respond-max($bp-md) {
      font-size: $fs-2xl;
    }

    @include respond-max($bp-sm) {
      font-size: $fs-xl;
    }
  }
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: $radius-md;

  @include respond-max($bp-md) {
    width: 84px;
    height: 84px;
  }

  @include respond-max($bp-sm) {
    width: 64px;
    height: 64px;
  }
}
