@use "../sass/variables" as *;
@use "../sass/mixins" as *;

.passwordUpdatePage {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include card-elevated;
  padding: $space-2xl;

  @include respond-max($bp-sm) {
    padding: $space-lg;
  }

  h1 {
    @include heading($fs-2xl, 700, $primary-500);
    text-align: center;
    margin-bottom: $space-lg;

    @include respond-max($bp-sm) {
      font-size: $fs-xl;
      margin-bottom: $space-md;
    }
  }
}
